$primary: #22d3ee;
$bg-dark: #020617;
$text-light: #e5e7eb;
$text-muted: #94a3b8;

.footer {
  position: relative;
  background: rgba(2, 6, 23, 0.9);
  backdrop-filter: blur(10px);
  color: $text-light;
  margin-top: 250px;
}

/* glowing top border */
.footer-top {
  height: 2px;
  background: linear-gradient(to right, transparent, $primary, transparent);
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Brand */
.footer-brand h1{
  color: $primary;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.footer-brand p {
  color: $text-muted;
  font-size: 0.9rem;
  line-height: 1.6;
}

/* Links */
.footer-links h4,
.footer-contact h4 {
  margin-bottom: 12px;
  font-size: 1rem;
}

.footer-links a {
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: $text-muted;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $primary;
    transform: translateX(4px);
  }
}

/* Contact */
.footer-contact p {
  font-size: 0.9rem;
  color: $text-muted;
  margin-bottom: 6px;
}

.socials {
  margin-top: 12px;
  display: flex;
  gap: 14px;
  font-size: 1.2rem;

  svg {
    cursor: pointer;
    color: $text-muted;
    transition: 0.3s;

    &:hover {
      color: $primary;
      transform: scale(1.1);
    }
  }
}

/* Bottom */
.footer-bottom {
  text-align: center;
  padding: 14px;
  border-top: 1px solid rgba(34, 211, 238, 0.15);
  font-size: 0.8rem;
  color: $text-muted;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .socials {
    justify-content: center;
  }
}
